<header class = 'nav' >
  <nav class = 'nav-menu'>

    <a href='{{ absURL "" }}' class = 'nav-brand nav_item'>{{ .Site.Title }}</a>
    <div class = 'nav_bar-wrap'>
      <div class = 'nav_bar'></div>
    </div>
  </nav>
  <p><button id="theme-toggle">Click to Switch between Light and Dark Mode</button></p>
</header>

<style>
  button {
  border:2px solid #ff9900;    /*---테두리 정의---*/
  background-Color:#000000;   /*--백그라운드 정의---*/
  font:16px 나눔고딕;      /*--폰트 정의---*/
  font-weight:bold;   /*--폰트 굵기---*/
  color:#ff9900;    /*--폰트 색깔---*/
  width:200;height:70;  /*--버튼 크기---*/
  }

  body {
	color: rgb(12, 14, 29); 
	background-color: white;
}
body.dark {
	color: white; 
	background-color: rgb(12, 14, 29);
}
  </style>

<script>
  var darkMode = false;

// default to system setting
if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
	darkMode = true;
}

// preference from localStorage should overwrite
if (localStorage.getItem('theme') === 'dark') {
	darkMode = true;
} else if (localStorage.getItem('theme') === 'light') {
	darkMode = false;
}

if (darkMode) {
	document.body.classList.toggle('dark');
}

document.addEventListener('DOMContentLoaded', () => {

    document.getElementById('theme-toggle').addEventListener('click', () => {
		document.body.classList.toggle('dark');
    	localStorage.setItem('theme', document.body.classList.contains('dark') ? 'dark' : 'light');
	});

});
</script>
